/* Write some CSS below */
body {
	font-family: overpass;
	color: blue;
	font-size: 18px;
}

h1, h2, h3 {
	font-family: chivo;
}

p {
	color: #404042
	opacity: .7;
}

.container {
	width: 800px;
	margin: auto;
}
.banner {
	background-image: url('images/background.jpg');
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	text-align: center;
}
.banner h1	{
	color: rgb(230,230,230);
	font-size: 60px;
	margin: 0;
}
.banner p {
	color: white;
	font-size;
}
.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .6s;
  
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: lightgreen;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

.footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: white;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}